.adminBtn {
    position: absolute;
    right:10%;
    top:4%;
}


.visitorDetails form{
    text-align: left
}

.visitorDetails > *,.visitorDetails button{
    margin-top: 4%;
}

span.error {
    padding-left: 5px;
    font-size: 0.75em;
    color:red;
}